.aboutPageWrapper {
    background-image: linear-gradient(#494949, #494949,  #0D0D0D);
    height: 2160px;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.partnersPageFooter {
    position: fixed;
    bottom: 0;
    background-color: #494949;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    width: 20%;
}

.contactUsBtn {
    display: none;
}

.footerBackgroundWrapper {
    position: absolute;
    width: 100%;
    height: 306px;
    bottom: 0;
    z-index: -1;
}

.footerBackground {
    width: 100%;
}

.backgroundImgWrapper {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 491px;
    width: 2270px;

}

.leftBackgroundComet {
    position: absolute;
    z-index: -1;
    width: 99px;
    height: 248px;
    left: 0px;
    animation: leftBackgroundComet 6s ease-in-out infinite;
    top: 1317px;
}

.rightBackgroundComet {
    position: absolute;
    height: 532px;
    width: 532px;
    z-index: -1;
    right: -60px;
    top: -101px;
    animation: rightBackgroundComet 6s ease-in-out infinite;
}

.heartDouble {
    position: absolute;
    z-index: 5;
    top: 580px;
    left: 68%;
    transform: translateX(-50%);
    width: 389px;
    height: 323px;
}

.phraseBlock {
    background-image: url('../../assets/img/main_bottom.svg');
    gap: 14px;
    width: 896px;
    height: 165px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border: none;
}

.summaryBlock {
    background-image: url("../../assets/img/main_bottom.svg");
    background-size: 100% 100%;
    gap: 14px;
    width: 896px;
    height: 165px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border: none;
}

.heartWrapper > img {
    height: 500px;
    height: 500px;
}

.heartWrapper  {
   display: flex;
   justify-content: center;
   align-items: center;
}

.phraseText {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    text-align: center;

}

@keyframes leftBackgroundComet {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
}

@keyframes rightBackgroundComet {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.backgroundImg {
    width: 100%;
}

.contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 906px;
}

.mainContent {
    background-image: url('../../assets/img/main_top.svg');
    width: 897px;
    height: 622px;
    margin-top: 90px;
    display: flex;
    gap: 96px;
}

.phoneWrapper > img {
    width: 357px;
    height: 713px;
    top: -55px;
    position: relative;
}

.sideContent {
    width: 389px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin-top: 42px;
}

.switchBtn {
    width: 116px;
}

.sideText {
    font-size: 48px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .leftBackgroundComet {
      display: none;
    }
  
    .rightBackgroundComet {
      display: none;
    }
    
    .footerBackground {
      height: 130px
    }
  
    .contactUsBtn {
      width: 200px;
      height: 50px;
      background: no-repeat center center;
      background-size: cover;
      color: #ff3e9b;
      border: none;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 50px;
      border: 1px solid;
      z-index: 1;
      display: initial;
    }
    
    .footerLogo {
      display: none;
    }

    .aboutPageWrapper {
        width: 100%;
        position: relative;
    }

    .mainContent {
        height: 273px;
        margin-top: 114px;
        gap: 174px;
    }

    .phoneWrapper > img {
        width: 233px;
        height: 466px;
    }

    .phoneWrapper {
        position: relative;
        top: -43px;
        left: 196px;
    }

    .switchBtn {
        width: 60px;
    }

    .sideText {
        font-size: 20px;
        line-height: 20px;
    }

    .sideContent {
        width: 165px;
    }

    .heartWrapper > img {
        height: 190px;
        width: 165px;
        top: 320px;
        left: 78%;
    }
}
